{% extends 'base/base.html' %}

{% block content %}
	<div class="w3-main" >
		<header class="w3-container" >
			<h5 style="color: black;"><b style="color: black;"><i class="fa fa-plus" style="color: black;"></i> Generador de boletos</b></h5>
			<h5 style="color: black;"><b style="color: black;"> {{event.name}}</b></h5>

		</header>
		<form method="post">
		{% csrf_token %}
			<div class="w3-row-padding">
				<div class="w3-half">
					<label for="{{form.ubication.id_for_label}}"></label><!--NO BORRAR NADA DEL FORM-->
					{{form.ubication}}
				</div>
				<div class="w3-half">
					<label for="{{form.cost.id_for_label}}"></label><!--NO BORRAR NADA DEL FORM-->
					{{form.cost}}
				</div>
			</div>
			<div class="w3-row-padding">
				<div class="w3-half">
					{{form.state}}<!--NO BORRAR NADA DEL FORM-->
                </div>
                <div class="w3-container">
                        <table class="w3-table-all w3-hoverable ">
                          <thead >
                                <tr class="w3-dark-grey">
                                <th>Ubicacion</th>
                                <th>Cantidad Boletos</th>
                                <th>Precio</th>
                                </tr>
                          </thead>
                          <tbody>
                              <tr>
                                <td>Tribuna norte</td>
                                <td>{{form.northZone}}</td>
                                <td>{{form.costNorth}}</td>
                              </tr>
                              <tr>
                                <td>Tribuna sur</td>
                                <td>{{form.southZone}}</td>
                                <td>{{form.costSouth}}</td>
                            </tr>
                            <tr>
                                <td>Tribuna oriente</td>
                                <td>{{form.eastZone}}</td>
                                <td>{{form.costEast}}</td>
                            </tr>
							<tr>
                                <td>Tribuna occidente</td>
                                <td>{{form.westZone}}</td>
                                <td>{{form.costWest}}</td>
                            </tr>
                          </tbody>
                        </table>
                        </div>
			</div>
			<div class="w3-container">
				<div class="w3-show-inline-block">
					<div class="w3-bar">
						<button type="submit" class="w3-button w3-padding-16 w3-dark-grey w3-circle" ><i class="fa fa-save"></i></button>
					</div>
				</div>
			</div>
			
		</form>
		<header class="w3-container">
			<h5 style="color: black;"><b style="color: black;"><i class="fa fa-list" style="color: black;"></i> Boletos generados</b></h5>
        </header>

		<div class="w3-container">
      		<table class="w3-table-all w3-hoverable ">
		        <thead >
		          	<tr class="w3-dark-grey">
		          		<th>Cantidad boletos</th>
									<th>Ubicacion</th>
									<th></th>
									<th></th>
									<th></th>
		          	</tr>
				</thead>
				<tbody>
					{% if tickets %}
					{% for arrayTicket in tickets %}
					<tr id="registro_item" >
						<td>{{arrayTicket.0}}</td>
						<td>{{arrayTicket.1}}</td>
						<td><a href="{% url 'ticket_add' id=event.id ubication=arrayTicket.1 %}" data-toggle="tooltip" title="Aumentar boletos"><button >+</i></button></a></td>
						<td><a href="{% url 'ticket_minus' id=event.id ubication=arrayTicket.1 %}" data-toggle="tooltip" title="Disminuir boletos"><button >-</i></button></a></td>
						<td><a href="{% url 'ticket_delete' id=event.id ubication=arrayTicket.1 %}" data-toggle="tooltip" title="Borrar todos boletos"><button >X</i></button></a></td>
					</tr>
				</tbody>
				{% endfor %}
				{% else %}
				<h1 style="color: black;">No hay registros de Boletos</h1>
				{% endif %}
	      	</table>
		</div>

		<hr>
		<footer class="w3-container w3-padding-14 w3-grey">
	    	<p>Powered by <a style="color: black;">XSOFT</a></p>
		</footer>
	</div>
{% endblock %}