{% extends 'base/base.html' %}
<head>
	
</head>

{% block content %}
	<div class="w3-main" >
		<header class="w3-container" >
			<h5 style="color: black;"><b><i class="fa fa-plus" style="color: black;"></i> Generador de Boletos</b></h5>
		</header>
		<form method="post">
		{% csrf_token %}
			<div class="w3-row-padding">
				<div class="w3-half">
					<label for="{{form.ubication.id_for_label}}"> {{form.ubication.label}}</label>
					{{form.ubication}}
				</div>
				<div class="w3-half">
					<label for="{{form.cost.id_for_label}}"> {{form.cost.label}} </label>
					{{form.cost}}
				</div>
			</div>
			<div class="w3-row-padding">
				<div class="w3-half">
					<label for="{{form.quantity.id_for_label}}">{{form.quantity.label}}</label>
					{{form.quantity}}
				</div>
				<div class="w3-half">
					{{form.state}}
				</div>
			</div>
		 	<button type='submit'>Crear</button>
		</form>
		<header class="w3-container">
			<h5 style="color: black;"><b><i class="fa fa-list" style="color: black;"></i> Listar eventos</b></h5>
		</header>
		<div class="w3-container">
      		<table class="w3-table-all w3-hoverable ">
		        <thead >
		          	<tr class="w3-dark-grey">
		          		<th>#</th>
			            <th>Costo</th>
			            <th>Ubicacion</th>
			            <th>Estado</th>
			            <th>Evento</th>
		          	</tr>
				</thead>
				{% if tickets %}
				{% for ticket in tickets %}
				<tbody>
					<tr id="registro_item" >
						<td>{{ticket.id}}</td>
						<td>{{ticket.cost}}</td>
						<td>{{ticket.ubication}}</td>
						<td>{{ticket.state}}</td>
						<td>{{ticket.event}}</td>
					</tr>
				</tbody>
				{% endfor %}
				{% else %}
				<h1>No hay registros de Boletos</h1>
				{% endif %}
	      	</table>
		</div>

		<hr>
		<footer class="w3-container w3-padding-14 w3-grey">
	    	<p>Powered by <a style="color: black;">XSOFT</a></p>
		</footer>
	</div>
{% endblock %}
