

    {% extends 'base/base.html' %}

    {% block content %}
    <div class="w3-main" >
        <header class="w3-container" >
                    <h5 class="black-color" >
                        <b class="black-color">
                        <i class="fa fa-plus black-color"></i> Generar ubicaciones</b>
                    </h5>
        </header>


        
        <header class="w3-container" >
            <h5 class="black-color" >
                <b class="black-color">
                <i class="fa fa-plus black-color"></i> Generador de boletos</b>
            </h5>
            <h5 class="black-color"><b class="black-color"> {{event.name}}</b></h5>
        </header>
            <div class="w3-row-padding">
                <div class="w3-container">
                    <table class="w3-table-all w3-hoverable ">
                          <thead >
                            <tr class="w3-dark-grey">
                            <th>Ubicacion</th>
                            <th>Cantidad Boletos</th>
                            <th>Precio</th>
                            <th></th>
                            </tr>
                          </thead>
                          <tbody>        
                                {% if locations %}
                                {% for locations in locations %}
                                <tr>
                                    <form method='POST'>
                                        {% csrf_token %}
                                    <td>{{locations.name}}</td>
                                    <td>{{form.zone}}</td>
                                    <td>{{form.cost}}</td>
                                    <td><a href="{% url 'add_ticket' ubication=locations.name event=event quantity=form.zone cost=form.cost %}" 
                                        data-toggle="tooltip" 
                                        title="Guardar boletos {{locations.name}}">
                                        <button class="w3-button w3-padding-small w3-dark-grey w3-circle">
                                        <i class="fa fa-save"></i></button>
                                        </a>
                                    </td>
                                </form>
                                </tr>
                                {% endfor %}
                                {% else %}
                                <h1 class="black-color">No hay ubicaciones para este evento</h1>
                                {% endif %}
                            </tbody>
                    </table>
                </div>
            </div>

        <header class="w3-container">
            <h5 class="black-color">
                <b class="black-color">
                <i class="fa fa-list black-color"></i> Boletos generados</b>
            </h5>
        </header>
    
        <div class="w3-container">
              <table class="w3-table-all w3-hoverable ">
                <thead >
                      <tr class="w3-dark-grey">
                        <th>Cantidad boletos</th>
                        <th>Ubicacion</th>
                        <th>Precio</th>
                        <th></th>
                        <th></th>
                        <th></th>
                      </tr>
                </thead>
                <tbody>
                    {% if tickets %}
                    {% for arrayTicket in tickets %}
                    <tr id="registro_item" >
                        <td>{{arrayTicket.0}}</td>	
                        <td>{{arrayTicket.1}}</td>
                        <td>{{arrayTicket.2}}</td>
                        <td><a href="{% url 'ticket_add' id=event.id ubication=arrayTicket.1 %}" 
                                data-toggle="tooltip" 
                                title="Aumentar boletos">
                                <button class="w3-button w3-padding-small w3-dark-grey w3-circle">
                                <i class="fa fa-plus"></i></button>
                            </a></td>
                        <td><a href="{% url 'ticket_minus' id=event.id ubication=arrayTicket.1 %}" 
                                data-toggle="tooltip" 
                                title="Disminuir boletos">
                                <button class="w3-button w3-padding-small w3-dark-grey w3-circle">
                                <i class="fa fa-minus"></i></button>
                            </a></td>
                        <td><a href="{% url 'ticket_delete' id=event.id ubication=arrayTicket.1 %}" 
                                data-toggle="tooltip" 
                                title="Borrar todos boletos">
                                <button class="w3-button w3-padding-small w3-dark-grey w3-circle">
                                <i class="fa fa-close"></i></button>
                            </a></td>
                    </tr>
                </tbody>
                {% endfor %}
                {% else %}
                <h1 class="black-color">No hay registros de Boletos</h1>
                {% endif %}
              </table>
        </div>
    
        <hr>
        <footer class="w3-container w3-padding-14 w3-grey">
            <p>Powered by <a class="black-color">XSOFT</a></p>
        </footer>
    </div>
    {% endblock %}