{%load staticfiles %}

<head>
    <title>SporTicket</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/w3.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/css.css' %}">
    <link rel="stylesheet" href="{% static 'css/window.css' %}">
    <link rel="stylesheet" href="{% static 'css/morris.css' %}">
    <link rel="icon"  href="{% static 'images/sporticket.png' %}">
       
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

{% block content %}
<div class="w3-main" >
	<header class="w3-container" >
		<h5 class="black-color">
			<b class="black-color">
			<i class="fa fa-plus black-color"></i> Crear mi perfil</b>
		</h5>
	</header>
	<div class="w3-half ">
		<img  class="imgLogin width-image" 
			  src="{% static 'images/sporticket.png' %} " 
			  alt="Logo SporTicket">
		<p><strong class="black-color ">Para ingresar a la aplicación termina tu registro llenando los campos</strong></p>
	</div>
	<div class="w3-half w3-container positionMyProfile">
		<form method="post"> 
		{% csrf_token %}
			<div class="w3-row-padding">
				<label class="black-color" for="{{ form.identification.id_for_label}}"> Identificación </label> {{form.identification}}
			</div>
			<div class="w3-row-padding">
				<label class="black-color" for="{{ form.phone.id_for_label}}"> Número o celular</label> {{form.phone}}
				<div class="w3-row">	
					<label class="black-color" for="{{ form.numAccount.id_for_label}}"> Número de cuenta </label> {{form.numAccount}}
				</div>
				<br> 
				<div class="w3-show-inline-block">
	                <div class="w3-bar">
	                    <a href="{% url 'crateUser' %}" 
	                    	data-toggle="tooltip" 
	                    	title="Guardar registro"
	                    	class="underlined ">
	                    	<button class="w3-button w3-center w3-green w3-section w3-padding" 
	                    	type="submit">Registrar</button>
	                    </a>
					</div>
	            </div>
			</div>
		</form>
	</div>
</div>
<script src="{% static 'js/w3.js' %}"></script>
<script src="{% static 'js/function.js' %}"></script>
<script src="{% static 'js/grafico.js' %}" charset="utf-8"></script>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/raphael-min.js' %}"></script>
<script src="{% static 'js/morris.min.js' %}" charset="utf-8"></script>
	
{% endblock %}

