{% extends 'base/base.html' %}
{%load staticfiles %}
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
{% block content %}
<div class="w3-main" >
	<header class="w3-container" >
		<h5 class="black-color">
			<b class="black-color">
			<i class="fa fa-pencil black-color"></i> Editar mi perfil</b>
		</h5>
	</header>
	<form method="post"> 
		{% csrf_token %}

		<div class="w3-row-padding">
			<div class="w3-half">
				<label for="{{ form.identification.id_for_label}}"> Identificación </label> {{form.identification}}
			</div>
			<div class="w3-half">
				<label for="{{ form.first_name.id_for_label}}"> Nombres </label> {{form.first_name}}
			</div>
		</div>
		<div class="w3-row-padding">
			<div class="w3-half">
				<label for="{{ form.last_name.id_for_label}}"> Apellidos </label> {{form.last_name}}
			</div>
			<div class="w3-half">
				<label for="{{ form.email.id_for_label}}"> Correo electrónico </label> {{form.email}}
			</div>
		</div>
		<div class="w3-row-padding">
			<div class="w3-half"> 
				<label for="{{ form.phone.id_for_label}}"> Número de teléfono o celular</label> {{form.phone}}
			</div>
			<div class="w3-half">
				<label for="{{ form.numAccount.id_for_label}}"> Número de cuenta </label> {{form.numAccount}}
			</div>
		</div>
		<div class="w3-row-padding">
			<div class="w3-half">
				<label for="{{ form.username.id_for_label}}"> Nickname </label> {{form.username}}
			</div>
		
			<br>
			<br> <br/>
			<div class="w3-show-inline-block">
                <div class="w3-bar">
                    <a href="{% url 'crateUser' %}">
                    	<button type="submit" 
                    	class="w3-button w3-padding-16 w3-dark-grey w3-circle" 
						id="save"
						data-toggle="tooltip" 
              			title="Guardar cambios">
                    	<i class="fa fa-save"> Guardar</i></button>
                    </a>
				</div>
            </div>
		</div>
	</form>
	<br>
	<br>
 	<footer class="w3-container w3-padding-14 w3-grey">
    	<p>Powered by <a class="black-color">XSOFT</a></p>
	</footer>	
	  
</div>
	
{% endblock %}

