{% extends 'base/base.html' %}

{% block content %}
<div class="w3-main" >
	<header class="w3-container">
		<h5 class="black-color">
			<b class="black-color">
			<i class="fa fa-list black-color"></i> Listar usuarios</b>
		</h5>
	</header>
	<div class="w3-container">
  		<table class="w3-table-all w3-hoverable ">
	        <thead >
	          	<tr class="w3-dark-grey">
	          		<th>Identificación</th>
		            <th>Nombre</th>
		            <th>Apellido</th>
                    <th>Correo</th>
		            <th>Teléfono</th>
                    <th>Número de Cuenta</th>
					<th>Tipo de usuario</th>						
		            <th>Nickname</th>
		            <th></th>
		            <th></th> 
		            <th></th>
	          	</tr>
			</thead>
			{% if object_list %}
			{% for profile in object_list %}
			<tbody>
				<tr id="registro_item" >
					<td>{{profile.identification}}</td>
					<td>{{profile.user.first_name}}</td>
					<td>{{profile.user.last_name}}</td>
					<td>{{profile.user.email}}</td>
					<td>{{profile.phone}}</td>
					<td>{{profile.numAccount}}</td>
					<td>{{profile.userType}}</td>
					<td>{{profile.user.username}}</td>
					<td><a href="#">
						<button class="w3-button w3-padding-small w3-dark-grey w3-circle">
						<i class="fa fa-eye"></i></button>
					</a></td>
					<td><a href="{% url 'editUser' profile.id %}">
						<button class="w3-button w3-padding-small w3-dark-grey w3-circle">
						<i class="fa fa-pencil"></i></button>
					</a></td>
					<td><a href="{% url 'deleteUser' profile.id %}">
						<button class="w3-button w3-padding-small w3-dark-grey w3-circle">
						<i class="fa fa-trash"></i></button>
					</a></td>
				</tr>
			</tbody>
			{% endfor %}
			{% else %}
			<h1 class="black-color">No hay registros de usuarios</h1>
			{% endif %}
      	</table>
  		
	</div>

	<hr>
	<footer class="w3-container w3-padding-14 w3-grey">
    	<p>Powered by <a class="black-color">XSOFT</a></p>
	</footer>
</div>
{% endblock %}