{% extends 'base/base.html' %}
<head>
	
</head>

{% block content %}
<div class="w3-main" >
	<header class="w3-container" >
		<h5 class="black-color">
			<b class="black-color">
			<i class="fa fa-eye black-color"></i> Visualizar usuario</b>
		</h5>
	</header>
	<form method="post"> 
		{% csrf_token %}

		<div class="w3-row-padding">
			<div class="w3-half">
				<label for="{{ form.identification.id_for_label}}"> {{form.identification.label}} </label> 
				<input class="w3-input w3-border" 
						type=”text” 
						value="{{profile.identification}}"
						readonly=”readonly” />
			</div>
			<div class="w3-half">
				<label for="{{ form2.first_name.id_for_label}}"> {{form2.first_name.label}} </label> 
				<input class="w3-input w3-border" 
						type=”text” 
						value="{{profile.user.first_name}}"
						readonly=”readonly” />
			</div>
		</div>
		<div class="w3-row-padding">
			<div class="w3-half">
				<label for="{{ form2.last_name.id_for_label}}"> {{form2.last_name.label}} </label>
				<input class="w3-input w3-border" 
						type=”text” 
						value="{{profile.user.last_name}}"
						readonly=”readonly” />
			</div>
			<div class="w3-half">
				<label for="{{ form2.email.id_for_label}}"> {{form2.email.label}} </label> 
				<input class="w3-input w3-border" 
						type=”text” 
						value="{{profile.user.email}}"
						readonly=”readonly” />
			</div>
		</div>
		<div class="w3-row-padding">
			<div class="w3-half">
				<label for="{{ form.phone.id_for_label}}"> {{form.phone.label}} </label> 
				<input class="w3-input w3-border" 
						type=”text” 
						value="{{profile.phone}}"
						readonly=”readonly” />
			</div>
			<div class="w3-half">
				<label for="{{ form.numAccount.id_for_label}}"> {{form.numAccount.label}} </label>
				<input class="w3-input w3-border" 
						type=”text” 
						value="{{profile.numAccount}}"
						readonly=”readonly” />
			</div>
		</div>
		<div class="w3-row-padding">
			<div class="w3-half">
				<label for="{{ form.userType.id_for_label}}"> {{form.userType.label}} </label> 
				<input class="w3-input w3-border" 
						type=”text” 
						value="{{profile.userType}}"
						readonly=”readonly” />
			</div>
			<div class="w3-half">
				<label for="{{ form2.username.id_for_label}}"> {{form2.username.label}} </label> 
				<input class="w3-input w3-border" 
						type=”text” 
						value="{{profile.user.username}}"
						readonly=”readonly” />
			</div>
			<br>
			<br> <br/>
			<div class="w3-show-inline-block">
                <div class="w3-bar">
					<button class="w3-button w3-padding-16 w3-dark-grey w3-circle" 
						data-toggle="tooltip" 
              			title="Aceptar">
                    	<i class="fa fa-check"> Aceptar</i>
                    </button>
				</div>
            </div>
		</div>
	</form>
	<br>
	<br>
 	<footer class="w3-container w3-padding-14 w3-grey">
    	<p>Powered by <a class="black-color">XSOFT</a></p>
	</footer>
</div>
{% endblock %}