.btn {
  border: none;
  border-radius: 4px;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  margin: 5px 0;
  opacity: .85;
  padding: 12px;
  text-decoration: none; /* remove underline from anchors */
  width: 100%;
}

.btn:hover {
  opacity: 1;
}

.google {
  background-color: #dd4b39;
  color: white;
}

html,body,h1,h2,h3,h4,h5,a,b,span,i,button {
	font-family: "Raleway", sans-serif; 
	color: orange;
}

.separators {
    border-top: 1px solid white;
}

.w3-bar .w3-top .w3-dark-grey .w3-padding-15{
	z-index:4;
} 

.w3-sidebar .w3-collapse .w3-dark-grey .w3-animate-left{
	z-index:3;width:200px;
}
img{
	width:65px;
} 
.w3-bar-block{
	color: orange;
} 
.w3-hide .w3-dark-grey .w3-card{
	color: orange;
}
.w3-overlay .w3-hide-large .w3-animate-opacity{
	cursor:pointer;
}
i{
	color: orange;
}
.w3-bar-item .w3-button{
	color: orange;
}
.w3-main{
	margin-left:200px;
	margin-top:43px;
}
.w3-container{
	padding-top:22px;
}
th{
	color: orange;
}
.image{
	width:100%;
}
.imgLogin{
	width: 100px;
}.view{
	position: relative;
	z-index:1; 
	width:100%; 
	height:100%;
}