.black-color {
	color: black;
}

.btn {
  border: none;
  border-radius: 4px;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  margin: 5px 0;
  opacity: .85;
  padding: 12px;
  text-decoration: none; /* remove underline from anchors */
  width: 100%;
}

.btn:hover {
  opacity: 1;
}

.btnQuarter {
	margin-left: 1085px;
	margin-top: -180px; 
}	

.card {
	width: 100%;
}

.cardM {
	width: 109%;
}

.cardL {
	margin-left: 100px;
	width: 80%;
}

.cardSize {
	margin-left: 200px;
	text-align: center;
	width: 70%;  
}

.cardSmall {
	width: 70%;
}

.content {
	margin-left: -8px;
	margin-top: -18px;
}

.div {
	margin-left: 20px;
}

#graph {
	height: 199px;

}

.grey-color {
	color: grey;
}

.google {
  background-color: #dd4b39;
  color: white;
}

.half {
	margin-left: -10px;
}

html,body,h1,h2,h3,h4,h5,a,b,span,i,button {	
	color: orange;
	font-family: "Raleway", sans-serif; 	
}

i {
	color: orange;
}

img {
	width: 65px;
} 

.image {
	width: 100%;
}

.imgBill {
	left: -30px;
}

.imgEvent {
	position: relative; 
	z-index: 1; 
	width: 450px; 
	height: 350px;
}

.imgLeftPosition {
	width: 50%; 
}

.imgLogin {
	width: 100px;
}

.imgSaleEvent {
	height: 350px;
	margin-left: -10px;
	position: relative;
	width: 100%; 
	z-index: 1;   
}

.imgRightPosition {
	margin-left: 200px;
	width: 50%; 
}

.main {
	margin-left: 200px;
	margin-top: 43px;
}

#messages {
	display: none;
	margin-left: 800px;
	margin-top: -600px;
	text-align: left;
	width: 35%; 
}

#myfirstchart {
	height: 200px;
}

.orange-color {
	color: orange;
}

.padding {
	margin-left:-8px; 
	margin-top:-18px
}

.position {
	margin-left: 85px;
	margin-top: 17px;
}

.positionMyProfile {
	margin-left: -100px;
}

.separators {
    border-top: 1px solid white;
}

.size {
	margin-top: 4px;
	width: 120%;
}

.sizeImg {
	height: 100%;
	width: 100%; 
}

.sizeInput {
	margin-top: -10px;
	width: 90%; 
}

#success {
	display: none;
	margin-left: 800px;
	margin-top: -600px;
	text-align: left;
	width: 35%; 
}

.table {
	margin-left: 200px;
	width: 60%; 
}

.tableBill {
	margin-top: -20px;
}

.tableXS {
	width: 50%;
}

.text {
	color: orange; 
	font-size: 20px;
}

.textBill {
	color: black; 
	text-align: center;
}

.textBillTitle {
	color: black; 
	font-weight: bold; 
	left: 200px;
}

.textMyProfile {
	margin-left: 90px;
}

.textTh {
	text-align: right;
}

.tickets {
	display: none;
}

th {
	color: orange;
}

.underlined {
	text-decoration: none;
}

.view {
	height: 100%;
	position: relative;
	width: 100%; 
	z-index: 1; 
}

.w3-bar .w3-top .w3-dark-grey .w3-padding-15 {
	z-index: 4;
} 

.w3-bar-block {
	color: orange;
} 

.w3-sidebar .w3-collapse .w3-dark-grey .w3-animate-left {
	width: 200px;
	z-index: 3;
}

.w3-hide .w3-dark-grey .w3-card {
	color: orange;
}

.w3-overlay .w3-hide-large .w3-animate-opacity {
	cursor: pointer;
}

.w3-bar-item .w3-button {
	color: orange;
}

.w3-main {
	margin-left: 200px;
	margin-top: 43px;
}

.w3-container {
	padding-top: 22px;
}

.white-color {
	color: white;
}

.width-card {
	width: 105%;
}

.width-image {
	width: 80%;
}