html,body,h1,h2,h3,h4,h5,a,span,i,button {
	font-family: "Raleway", sans-serif; 
	color: orange;
}
.w3-bar .w3-top .w3-dark-grey .w3-padding-15{
	z-index:4;
} 

.w3-sidebar .w3-collapse .w3-dark-grey .w3-animate-left{
	z-index:3;width:200px;
}
img{
	width:65px;
} 
.w3-bar-block{
	color: orange;
} 
.w3-hide .w3-dark-grey .w3-card{
	color: orange;
}
.w3-overlay .w3-hide-large .w3-animate-opacity{
	cursor:pointer;
}
i{
	color: orange;
}
.w3-bar-item .w3-button{
	color: orange;
}
.w3-main{
	margin-left:200px;
	margin-top:43px;
}
.w3-container{
	padding-top:22px;
}
th{
	color: orange;
}
.image{
	width:100%;
}