{% extends 'base/base.html' %}
<head>
	
</head>

{% block content %}
<div class="w3-main" >
<form method="post">
    {% csrf_token %}
    <header class="w3-container">
        <h5 class="black-color">
        	<b class="black-color">
        	<i class="fa fa-trash black-color"></i> ¿Desea {{state}} el evento {{event.name}}?</b>
        </h5>
    </header>
    <button class="w3-button w3-padding-16 w3-dark-grey w3-circle" 
    		type="submit">
    		<i class="fa fa-save"></i>
    </button>
    <a class="w3-button w3-padding-16 w3-dark-grey w3-circle" 
    	href="events/listEvents.html">
    	<i class="fa fa-repeat"></i>
    </a>

</form>
</div>
{% endblock %}