{% extends 'base/base.html' %}
<head>
	
</head>

{% block content %}
<div class="w3-main" >
<form method="post">
    {% csrf_token %}
    <header class="w3-container">
        <h5 class="black-color">
        	<b class="black-color">
        	<i class="fa fa-trash black-color"></i> ¿Desea {{state}} el evento {{event.name}}?</b>
        </h5>
    </header>
    <div class="w3-container">
        <button class="w3-button w3-padding-16 w3-dark-grey w3-circle" 
            type="submit"
            data-toggle="tooltip" 
            title="Cancelar evento">
    		<i class="fa fa-save"> Guardar</i>
        </button>
        <a class="w3-button w3-padding-16 w3-dark-grey w3-circle" 
            href="events/listEvents.html"
            data-toggle="tooltip" 
            title="Volver a listar eventos">
            <i class="fa fa-rotate-left"> Volver</i>
        </a>
    </div>
    

</form>
</div>
{% endblock %}