{% extends 'base/base.html' %}

{% block content %}
	<div class="w3-main" >
		<header class="w3-container">
			<h5 style="color: black;"><b><i class="fa fa-repeat" style="color: black;"></i> Cargar imagen</b></h5>
		</header>
		<div class="w3-container" >
			<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
				{{ form.as_p }}
			<input type="submit" value="Submit">
			</form>
		</div>
		<hr>
		 <footer class="w3-container w3-padding-14 w3-grey">
		    <p>Powered by <a  style="color: black;">XSOFT</a></p>
  		</footer>

  	</div>

  	
{% endblock %}