{% extends 'base/base.html' %}
{%load staticfiles %}
{% block content %}
	<div class="w3-main main">
		<hr>
		 <footer class="w3-container w3-padding-14 w3-grey">
		    <p>Powered by <a  class="black-color">XSOFT</a></p>
  		</footer>
		<script src="{% static 'js/message.js' %}"></script>
		<div class="container white-color">
			{% if messages %}
			<div class='row'>
				<div class='col-sm-6 col-sm-offset-3'>
					{% for message in messages %}
					<li class="w3-panel w3-green"  id="messages" {% if message.tags == "success" %} class="alert alert-sucess "{% endif %}> {{ message }}</li>
					{% endfor %}
				</div>
			</div>
			{% endif %}
		</div>
  	</div>

  	
{% endblock %}
