
{% extends 'base/base.html' %}

{% block content %}
<div class="w3-main" >
    <header class="w3-container">
        <h5 style="color: black;"><b style="color: black;"><i class="fa fa-shopping-cart" style="color: black;"></i> Seleccione los boletos a comprar del evento: {{event.name}}</b></h5>
		<h5 style="color: black;">BOLETOS DISPONIBLES</h5>
		<div class="w3-container">
			<table id="main_table" class="w3-table-all w3-hoverable " style="width: 50%">
				<thead >
					<tr class="w3-dark-grey">
						<th>Cantidad boletos</th>
						 <th>Ubicación</th>
						 <th>Costo</th>
					</tr>
				</thead>
			 	<tbody>
				  	{% if avalibleTicket %}
				  	{% for tickets_avalibles in avalibleTicket %}
				  	<tr id="{{tickets_avalibles.1}}" >
					  	<td id = "{{tickets_avalibles.1}}_cant">{{tickets_avalibles.0}}</td>
					  	<td id = "{{tickets_avalibles.1}}_ubi">{{tickets_avalibles.1}}</td>
					  	<td id = "{{tickets_avalibles.1}}_cost" value="{{tickets_avalibles.2}}">{{tickets_avalibles.2}}</td>
					</tr>
			  	</tbody>
				{% endfor %}
				{% else %}
				<h1 style="color: black;">No hay boletos disponibles en este evento</h1>
				{% endif %}
			</table>
	  	</div>
	</header>

	<hr>

	<div class="w3-container w3-card-2" style="width: 70%; text-align: center; margin-left: 200px;">
		<h3 style="color: black; text-align: center">Factura # {{bill.id}}</h3>
		
			<div class="w3-row-padding">
				<div class="w3-half">
					<label>Ubicación</label><!--NO BORRAR NADA DEL FORM-->
					<select id='select_tribuna' name="select_tribuna">
						<option id = "option_1" value="" disabled selected>Seleccione una tribuna...</option>
						{% if avalibleTicket %}
				  		{% for tickets_avalibles in avalibleTicket %}
				  			<option value="{{tickets_avalibles.1}}">{{tickets_avalibles.1}}</option>
						{% endfor %}
						{% endif %}
					</select>
				</div>
				<div class="w3-half">
					<label>Cantidad de boletos</label><!--NO BORRAR NADA DEL FORM-->
					<input type="number" name="cantidad" id="cantidad"/>
				</div>
			</div>
			<div class="w3-container">
				<div class="w3-show-inline-block">
					<div class="w3-bar">
						<button onclick="addRow()"  class="w3-button w3-padding w3-dark-grey w3-round-large" ><font color="orange"><i class="fa fa-plus"></i> Añadir boleto</font></button>
					</div>
				</div>
			</div>
		<form method="post">
			{% csrf_token %}
			<button onclick="document.getElementById('id02').style.display='block'"  type="submit" class="w3-button w3-padding w3-dark-grey w3-round-large"><font color="orange">Finalizar Venta</font></button>
		</form>
		<div class="w3-container">
			<table id="bill_table" class="w3-table-all w3-hoverable ">
			  	<thead >
					<tr class="w3-dark-grey">
						<th>Cant.</th>
						<th>Ubicación</th>
						<th>Costo</th>
						<th>SubTotal</th>
					</tr>
			  	</thead>
			  	<tbody>
			  		<tr>
			  			<div class="w3-threequarter w3-dark-grey">
			  				<th style="text-align:right;" colspan="3">Total</th>
			  			</div>
			  			<th id="total_bill"></th>			  			
			  		</tr>
			  	</tbody>
			</table>
	  	</div>
	</div>
	
	<hr>

	<footer class="w3-container w3-padding-14 w3-grey">
    	<p>Powered by <a style="color: black;">XSOFT</a></p>
	</footer>
</div>
<script type="text/javascript">
	function calcularTotal(){
		var table=document.getElementById("bill_table");
 		var table_len=(table.rows.length)-1;
 		var total=0;
		for (var i = 1; i < table_len; i++) {
			var subtotal = parseInt(document.getElementById("subtotal_"+i).innerHTML);
			total += subtotal;
		}
		document.getElementById("total_bill").innerHTML=total;
	}
	function calcularSubotales(){
		var table=document.getElementById("bill_table");
 		var table_len=(table.rows.length)-1;
		for (var i = 1; i < table_len; i++) {
			var cant = document.getElementById("cantidad_boletos_"+i).innerHTML;
			var cost = document.getElementById("costo_"+i).innerHTML;
			document.getElementById("subtotal_"+i).innerHTML=(cant*cost);
		}
	}
	function getCosto(selectTribuna){
		var costoTribuna = document.getElementById(selectTribuna+"_cost");
		console.log("costo tribuna : "+costoTribuna.firstChild.nodeValue);
		return costoTribuna.innerHTML;
	}
	function addRow(){
		var selectTribuna = document.getElementById('select_tribuna');
		var selectedOption = selectTribuna.options[selectTribuna.selectedIndex];
		var cantidadBoletos = document.getElementById('cantidad').value;
		console.log("Cantidad de boletos :"+cantidadBoletos);
		console.log(selectedOption.value + ': ' + selectedOption.text);
		var table=document.getElementById("bill_table");
 		var table_len=(table.rows.length)-1;
 		console.log("tamaño de la tabla : "+table_len);
 		 var row = table.insertRow(table_len).outerHTML="<tr id='row_"+table_len+"'> <td id='cantidad_boletos_"+table_len+"'>"+cantidadBoletos+"</td> <td id='ubicacion_"+table_len+"'>"+selectedOption.text+"</td><td id='costo_"+table_len+"'>"+getCosto(selectedOption.text)+"</td><td id='subtotal_"+table_len+"'></td></tr>";
 		 calcularSubotales();
 		 calcularTotal();
	}
</script>
{% endblock %}

