

{% extends 'base/base.html' %}
{%load staticfiles %}

{% block content %}
<div class="w3-main" >
    <header class="w3-container">
        <h5 style="color: black;"><b style="color: black;"><i class="fa fa-shopping-cart" style="color: black;"></i> Seleccione los boletos a comprar del evento: {{event.name}}</b></h5>
		<h5 style="color: black;">BOLETOS DISPONIBLES</h5>
		<div class="w3-container">
				<input id='event_id' value="{{event.id}}" style="display:none">
                <form>
                    {% csrf_token %}
                </form>
			<table id="main_table" class="w3-table-all w3-hoverable " style="width: 50%">
				<thead >
					<tr class="w3-dark-grey">
						<th>Cantidad boletos</th>
						 <th>Ubicación</th>
						 <th>Costo</th>
					</tr>
				</thead>
			 	<tbody>
				  	{% if avalibleTicket %}
				  	{% for tickets_avalibles in avalibleTicket %}
				  	<tr id="{{tickets_avalibles.1}}" >
					  	<td id = "{{tickets_avalibles.1}}_cant">{{tickets_avalibles.0}}</td>
					  	<td id = "{{tickets_avalibles.1}}_ubi">{{tickets_avalibles.1}}</td>
					  	<td id = "{{tickets_avalibles.1}}_cost" value="{{tickets_avalibles.2}}">{{tickets_avalibles.2}}</td>
					</tr>
			  	</tbody>
				{% endfor %}
				{% else %}
				<h1 style="color: black;">No hay boletos disponibles en este evento</h1>
				{% endif %}
			</table>
	  	</div>
	</header>

	<hr>

	<div class="w3-container w3-card-2" style="width: 70%; text-align: center; margin-left: 200px;">
		<h3 style="color: black; text-align: center">Compra #{{bill}}</h3>
		
			<div class="w3-row-padding">
				<div class="w3-half">
					<label>Ubicación</label><!--NO BORRAR NADA DEL FORM-->
					<select id='select_tribuna' name="select_tribuna">
						{% if avalibleTicket %}
				  		{% for tickets_avalibles in avalibleTicket %}
				  			<option value="{{tickets_avalibles.1}}">{{tickets_avalibles.1}}</option>
						{% endfor %}
						{% endif %}
					</select>
				</div>
				<div class="w3-half">
					<label>Cantidad de boletos</label><!--NO BORRAR NADA DEL FORM-->
					<input type="number" name="cantidad" id="cantidad"/>
				</div>
				<div class="w3-half">
						<label>Metodo de pago</label><!--NO BORRAR NADA DEL FORM-->
						<select id='select_pago' name="select_pago">
							<option value="Tarjeta de credito">Tarjeta de credito</option>
							<option value="Tarjeta de credito">Tarjeta de debito</option>
						</select>
					</div>
			</div>
			<div class="w3-container">
				<div class="w3-show-inline-block">
					<div class="w3-bar">
						<button onclick="addRowMain()"  class="w3-button w3-padding w3-dark-grey w3-round-large" ><font color="orange"><i class="fa fa-plus"></i> Añadir boleto</font></button>
					</div>
				</div>
			</div>
		<form>
			{% csrf_token %}
		</form>
		<button  type="submit" class="w3-button w3-padding w3-dark-grey w3-round-large"><font color="orange">Ver Factura</font></button>
		<div class="w3-container">
			<table id="bill_table" class="w3-table-all w3-hoverable ">
			  	<thead >
					<tr class="w3-dark-grey">
						<th>Cant.</th>
						<th>Ubicación</th>
						<th>Costo</th>
						<th>SubTotal</th>
						<th></th>
						<th></th>
					</tr>

			  	</thead>
			  	<tbody>
			  		<tr>
			  			<div class="w3-threequarter w3-dark-grey">
			  				<th style="text-align:right;" colspan="3">Total</th>
			  			</div>
						  <th id="total_bill"></th>	
						  <th></th>
						  <th></th>		 
			  		</tr>
			  	</tbody>
			</table>
		  </div>
		  <button onclick="finishShopMain()"  type="submit" class="w3-button w3-padding w3-dark-grey w3-round-large"><font color="orange">Finalizar Venta</font></button>

	</div>
	
	<hr>

	<div class="w3-container">
			<div id="id02" class="w3-modal">
				<div class="w3-modal-content">
				  <header > 
					<span onclick="document.getElementById('id02').style.display='none'" 
					class="w3-button w3-display-topright">&times;</span>
						<a class= "w3-display-topmiddle" >
							<img src="{% static 'images/logo.png' %}" class="w3-round w3-display-topmiddle w3-margin-right" style="left: -30px;">
							<h6 class= "w3-margin-left" style="color: black; font-weight:bold; left: 200px;">SporTicket</h6>
					  </a> 
					  <div class="w3-row-padding">
						  <br>
						  <div class="w3-third">
							  <img src="">
						  </div>
						  <div class="w3-third w3-center">
							  <br>
							  <p>NIT: 0000000-0</p>
							  <p>Régimen común</p>
							  <p>Factura # {{bill.id}}</p>
						  </div>
						  <div class="w3-third w3-center">				
							  <p> Fecha y Hora</p>
							  <p>{{hora}}</p>
						  </div>
					  </div>
					  </header>
					<div class="w3-row-padding">
						<p>Vendedor:{{user.last_name}}</p>
						<p>Cond. Pago: CONTADO</p>
						<div class="w3-container">
								<table id="bill_table1" class="w3-table-all w3-hoverable ">
									  <thead >
										<tr class="w3-dark-grey">
											<th>Cant.</th>
											<th>Ubicación</th>
											<th>Costo</th>
											<th>SubTotal</th>
											<th></th>
											<th></th>
										</tr>
					
									  </thead>
									  <tbody>
										  <tr>
											  <div class="w3-threequarter w3-dark-grey">
												  <th style="text-align:right;" colspan="3">Total</th>
											  </div>
											  <th id="total_bill1"></th>		  			
										  </tr>
									  </tbody>
								</table>
							  </div>
					  <hr>
					  <div class="w3-row-padding">
						  <p class="w3-center">INFORMACIÓN TRIBUTARIA</p>
						  <div class="w3-third">
							  <img src="">
						  </div>
					  </div>
					  <hr>
					  <div class="w3-row-padding">
						  <div class="w3-third">
							  <img src="">
						  </div>
						  <div class="w3-third w3-center">
							  <p>RESOLUCIÓN DIAN NO. 500 046612 DE  1200 HASTA 5000</p>
						  </div>
						  <div class="w3-third">
							  <img src="">
						  </div>
					  </div>
					  <div class="w3-row-padding">
						  <br>
						  <div class="w3-show-inline-block">
							<div class="w3-bar">
								<button type="submit" class="w3-button w3-padding-16 w3-dark-grey w3-circle" ><i class="fa fa-print"></i></button>
							</div>
						</div>
					  </div>
				</div>
			</div>
		</div>

	<footer class="w3-container w3-padding-14 w3-grey">
    	<p>Powered by <a style="color: black;">XSOFT</a></p>
	</footer>
	</div>

<script type="text/javascript">
    var ubications=[];
    var quantitys=[];
	var event_id;
	var pago;
	var fila=0;
	function calcularTotal(){
		var table=document.getElementById("bill_table");
 		var table_len=(table.rows.length)-1;
 		var total=0;
		for (var i = 1; i < table_len; i++) {
			var subtotal = parseInt(document.getElementById("subtotal_"+i).innerHTML);
			total += subtotal;
		}
		document.getElementById("total_bill").innerHTML=total;
	}

	function calcularSubotales(){
		var table=document.getElementById("bill_table");
 		var table_len=(table.rows.length)-1;
		for (var i = 1; i < table_len; i++) {
			var cant = document.getElementById("cant_boletos_"+i).value;
			var cost = parseInt(document.getElementById("costo_"+i).innerHTML);
			document.getElementById("subtotal_"+i).innerHTML=(cant*cost);
		}
	}

	function getCosto(selectTribuna){
		var costoTribuna = document.getElementById(selectTribuna+"_cost");
		return costoTribuna.innerHTML;
	}
	function addRow(){
		var selectTribuna = document.getElementById('select_tribuna');
		var selectPago = document.getElementById('select_pago');
		var selectedOption = selectTribuna.options[selectTribuna.selectedIndex];
		var cantidadBoletos = document.getElementById('cantidad').value;
		var selectedPago = selectPago.options[selectPago.selectedIndex];
		pago= selectedPago.text
		event_id =  document.getElementById('event_id').value;
		var table=document.getElementById("bill_table");
 		var table_len=(table.rows.length)-1;
		if(parseInt(cantidadBoletos).toString() == 'NaN'){
		}else{

			for(var i=1; i<=table_len; i++){
				if(!(document.getElementById("ubicacion_"+i)==null)){// Si la tabla no esta vacia
					if(document.getElementById("ubicacion_"+i).innerHTML == selectedOption.text){ //Si la ubicacion insertada es igual a la de una fila
						cantidadOld = parseInt(document.getElementById("cant_boletos_"+i).value);
						cantidadNew= cantidadOld+parseInt(cantidadBoletos);
						document.getElementById("cantidad_boletos_"+i).innerHTML="<input style='display:none' id='cant_boletos_"+i+"' value="+cantidadNew+">"+cantidadNew;
						quantitys[i-1]=cantidadNew;
						break;
					}
				}else{// Si la tabla esta vacia inserto el registros
					table.insertRow(table_len).outerHTML="<tr id='row_"+table_len+"'> <td id='cantidad_boletos_"+table_len+"'> <input style='display:none' id='cant_boletos_"+table_len+"' value='"+cantidadBoletos+"'>"+cantidadBoletos+"</td> <td id='ubicacion_"+table_len+"'>"+selectedOption.text+"</td><td id='costo_"+table_len+"'>"+getCosto(selectedOption.text)+"</td><td id='subtotal_"+table_len+"'></td> <td><a data-toggle='tooltip' title='Aumentar boletos'><button id='"+table_len+"' onclick='addTicket(this.id)' class='w3-button w3-padding-small w3-dark-grey w3-circle'><i class='fa fa-plus'></i></button></a></td>  <td><a data-toggle='tooltip' title='Disminuir boletos'><button id='"+table_len+"' onclick='minusTicket(this.id)' class='w3-button w3-padding-small w3-dark-grey w3-circle'><i class='fa fa-minus'></i></button></a></td> </tr>";
					quantitys.push(cantidadBoletos)
					ubications.push(selectedOption.text)
					break;
				}
				if(i==table_len){ //Si recorri toda la tabla y no hay ubicacion igual, inserto el registro
					table.insertRow(table_len).outerHTML="<tr id='row_"+table_len+"'> <td id='cantidad_boletos_"+table_len+"'> <input style='display:none' id='cant_boletos_"+table_len+"' value='"+cantidadBoletos+"'>"+cantidadBoletos+"</td> <td id='ubicacion_"+table_len+"'>"+selectedOption.text+"</td><td id='costo_"+table_len+"'>"+getCosto(selectedOption.text)+"</td><td id='subtotal_"+table_len+"'></td> <td><a data-toggle='tooltip' title='Aumentar boletos'><button id='"+table_len+"' onclick='addTicket(this.id)' class='w3-button w3-padding-small w3-dark-grey w3-circle'><i class='fa fa-plus'></i></button></a></td>  <td><a data-toggle='tooltip' title='Disminuir boletos'><button id='"+table_len+"' onclick='minusTicket(this.id)' class='w3-button w3-padding-small w3-dark-grey w3-circle'><i class='fa fa-minus'></i></button></a></td> </tr>";
					quantitys.push(cantidadBoletos)
					ubications.push(selectedOption.text)
				}
			}
			calcularSubotales();
			calcularTotal();
		}

	}

	function addTicket(fila){
		var cantidad=document.getElementById('cant_boletos_'+fila).value;
		var cantView=document.getElementById("cantidad_boletos_"+fila).innerHTML;
		cantView=parseInt(cantidad)+1
		document.getElementById("cantidad_boletos_"+fila).innerHTML="<input style='display:none' id='cant_boletos_"+fila+"' value="+cantView+">"+cantView;
		quantitys[fila-1]=parseInt(cantidad)+1;
		calcularSubotales();
 		calcularTotal();
	}

	function minusTicket(fila){
		var cantidad=document.getElementById('cant_boletos_'+fila).value;
		if(cantidad > 1){
			var cantView=document.getElementById("cantidad_boletos_"+fila).innerHTML;
			cantView=parseInt(cantidad)-1
			document.getElementById("cantidad_boletos_"+fila).innerHTML="<input style='display:none' id='cant_boletos_"+fila+"' value="+cantView+">"+cantView;
			quantitys[fila-1]=parseInt(cantidad)-1;
			calcularSubotales();
			calcularTotal();	
		}
	}

	function addRowMain(){
		addRow();
	}

    function getCookie(c_name){
    if (document.cookie.length > 0)
        {
            c_start = document.cookie.indexOf(c_name + "=");
            if (c_start != -1)
            {
                c_start = c_start + c_name.length + 1;
                c_end = document.cookie.indexOf(";", c_start);
                if (c_end == -1) c_end = document.cookie.length;
                return unescape(document.cookie.substring(c_start,c_end));
            }
        }
        return "";
    }

    function finishShop(){
        var jsonQuantitys = JSON.stringify(quantitys);
        var jsonUbications = JSON.stringify(ubications);
        console.log(quantitys)
        console.log(jsonUbications)
        $.ajax({
            url:'/sales_ajax/',
            dataType: 'json',
            data: {
				'jsonUbications':jsonUbications,
				'jsonQuantitys':jsonQuantitys,
				'event_id':event_id,
				'pago':pago
            },
            beforeSend: function () {
                console.log('Procesando')        
            },
            success: succesRequest
        });
    }

	function reload(){
		var url = 'sales/viewsEvent.html';
		location.reload()
	}

	function finishShopMain(){
		finishShop();
		//reload();
	}

	function succesRequest(result){
		if(result.status =='success'){
			reload();
		}else{
			const interval = 2000;
			window.setTimeout(finishShop,interval)
		}

	}

    
</script>
{% endblock %}