{% extends 'base/base.html' %}

{% block content %}
<div class="w3-main" >
	<header class="w3-container">
		<h5 class="black-color">
            <b class="black-color">
            <i class="fa fa-shopping-cart black-color"></i> Comprar</b>
        </h5>
    </header>
    <div class="w3-row-padding">
        {% if events %}
        {% for event in events %}
        <div class="w3-container w3-half">
            <div class="w3-card-4 card">
                <header class="w3-container w3-dark-grey w3-center w3-padding-small">
                    <p class="text">{{event.name}}</p>
                </header>
                <div class="w3-container">
                    <div class="w3-half">
                        <div class="w3-row-padding">
                            <p>Fecha evento:</p>
                            <input class="w3-input w3-border-0 sizeInput" value="{{event.initial_date}}" disabled>
                        </div>
                        <div class="w3-row-padding">
                            <p>Tipo evento:</p>
                            <input class="w3-input w3-border-0 sizeInput" value="{{event.event_type}}" disabled>
                        </div>
                        <div class="w3-row-padding">
                            <p>Equipo local:</p>
                            <input class="w3-input w3-border-0 sizeInput" value="{{event.local}}" disabled>
                        </div>
                        <div class="w3-row-padding">
                            <p>Lugar:</p>
                            <input class="w3-input w3-border-0 sizeInput" value="{{event.place}}" disabled>
                        </div>
                        <div class="w3-row-padding">
                            <p>Equipo visitante:</p>
                            <input class="w3-input w3-border-0 sizeInput" value="{{event.visitor}}" disabled>
                        </div>
                    </div>
                    <div class="w3-half">
                        <br>
                        {% if event %}
                        <img src="../../../static/{{event.image}}" alt="Imagen de evento" class="imgSaleEvent">
                        {% endif %}
                    </div>
                    <div class="w3-row-padding padding" >
                        <div class="w3-half">
                            <p>Boletos disponibles:</p>
                            <input class="w3-input w3-border-0 sizeInput" value="{{event.capacity}}" disabled>
                        </div>
                        <div class="w3-half half">
                            <p>Estado del evento:</p>
                            <input class="w3-input w3-border-0 sizeInput" value="{{event.state}}" disabled>
                        </div>
                    </div>
                </div>
                <br>
                <a href="{% url 'comprar_boletos' event.id %}"><button class="w3-button w3-padding w3-dark-grey w3-block" ><i class="fa fa-shopping-cart"> Comprar</i></button></a>
            </div>
            <br>
        </div>
        {% endfor %}
        {% else %}
        <h1 class="black-color">No hay registros de eventos</h1>
        {% endif %}
    </div>
    
    <hr>
	<footer class="w3-container w3-padding-14 w3-grey">
    	<p>Powered by <a class="black-color">XSOFT</a></p>
	</footer>
</div>
{% endblock %}