{% extends 'base/base.html' %}
{%load staticfiles %}

{% block content %}
    <header class="w3-container">
        <h5 class="black-color" ><b class="black-color"><i class="fa fa-shopping-cart" style="color: black;"></i> Ventas por Dia</b><b style="color: black;" id="nombre_evento"> {{event.name}} </b></h5>
        <br>
	</header>
	<form method="GET" action="/sales/getDailySales" id="get_sales_for_date">
		<div class="w3-half">
			<label>Selecciona la fecha a buscar</label>
			<input type="date" name="dateO" id="dateO" value="" />
			<input type="text" name="post_venta_envio" id="post_venta_envio" style="display: none">
			<input type="submit" value="Buscar">
		</div>
			
	</form>

	<form method="GET" action="/sales/getBill/" id="get-bill">
		<input type="text" name="get_bill" id="get_bill" style="display: none">	
		<div class="w3-container">
			<table id="sale_table" class="w3-table-all w3-hoverable " style="display: none">
			  	<thead >
					<tr class="w3-dark-grey">
						<th style="display: none">id</th>
						<th>#Factura</th>
						<th>Metodo de Pago</th>
						<th>Costo Total</th>
						<th>Acciones</th>
					</tr>
			  	</thead>
			  	<tbody>
			  	</tbody>
			</table>
		</div>
	</form>

	<div id="id02" class="w3-modal">
				<div class="w3-modal-content">
				  <header > 
					<span onclick="document.getElementById('id02').style.display='none'" 
								class="w3-button w3-display-topright">&times;</span>
						<a class= "w3-display-topmiddle" >
							<img src="{% static 'images/logo.png' %}" 
									class="w3-round w3-display-topmiddle w3-margin-right imgBill">
							<h6 class= "w3-margin-left textBillTitle" >SporTicket</h6>
					  </a> 
					  <div class="w3-row-padding">
						  <br>
						  <div class="w3-third">
							  <img src="">
						  </div>
						  <div class="w3-third w3-center">
							  <br>
							  <p>NIT: 0000000-0</p>
							  <p>Régimen común</p>
							  <p id="numFactura"></p>
						  </div>
						  <div class="w3-third w3-center">				
							  <p> Fecha</p>
							  <p id="fecha"></p>
						  </div>
					  </div>
					  </header>
					<div class="w3-row-padding">
						<p id="nombre"></p>
						<p>Cond. Pago: CONTADO</p>
						<div class="w3-container">
								<table id="bill_table1" class="w3-table-all w3-hoverable ">
									  <thead >
										<tr class="w3-dark-grey">
											<th>Evento</th>
											<th>Cant.</th>
											<th>Ubicación</th>
											<th>Costo</th>
											<th>SubTotal</th>
										</tr>					
									  </thead>
									  <tbody>
										  <tr>
											  <div class="w3-threequarter w3-dark-grey">
												  <th class="textTh black-color" colspan="4">Total</th>
											  </div>
											  <th class="black-color" id="total_bill1"></th>			  			
										  </tr>
									  </tbody>
								</table>
							  </div>
					  <hr>
					  <div class="w3-row-padding">
						  <p class="w3-center">INFORMACIÓN TRIBUTARIA</p>
						  <div class="w3-third">
							  <img src="">
						  </div>
					  </div>
					  <hr>
					  <div class="w3-row-padding">
						  <div class="w3-third">
							  <img src="">
						  </div>
						  <div class="w3-third w3-center">
							  <p>RESOLUCIÓN DIAN NO. 500 046612 DE  1200 HASTA 5000</p>
						  </div>
						  <div class="w3-third">
							  <img src="">
						  </div>
					  </div>
					  <div class="w3-row-padding">
						  <br>
						</div>
				</div>
			</div>
		</div>	

	<footer class="w3-container w3-padding-14 w3-grey">
    	<p>Powered by <a style="color: black;">XSOFT</a></p>
	</footer>
</div>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript">
	$("#get_sales_for_date").submit(function(e){
		e.preventDefault();
		if (document.getElementById("dateO").value == "") {
			alert("Seleccione primero la fecha")
		} else {
			$.ajax({
				url:$(this).attr('action'),
				type:$(this).attr('method'),
				data:$(this).serialize(),
				success: function(json){
					console.log(json);
					if (json.length != 0) {
						fillTable(json);
					} else{
						cleanTable();
						alert("La fecha seleccionada no contiene ventas");
					}
					//
				}
			});
		}				
	});

	$("#get-bill").submit(function(e){
		e.preventDefault();
		$.ajax({
			url:$(this).attr('action'),
			type:$(this).attr('method'),
			data:$(this).serialize(),
			success: function(json){
				cleanBillTable();
				console.log(json);
				detailsBills = json['detailsBills'];
				fillTableBill(detailsBills, json['total']);
				document.getElementById("numFactura").innerHTML="Factura #"+json['id']
				document.getElementById("fecha").innerHTML=""+json['date']
				document.getElementById("nombre").innerHTML="VENDEDOR: "+json['name']
				document.getElementById("id02").style.display='block';
			}
		});			
	});

	function fillTableBill(detailsBills, total){
		var table=document.getElementById("bill_table1");		
		for (var i = 0; i < detailsBills.length; i++){
			var table_len=(table.rows.length)-1;
			var row = table.insertRow(table_len).outerHTML="<tr id='row_"+table_len+"'><td>"+detailsBills[i]['eventName']+"</td><td>"+detailsBills[i]['cant']+"</td><td>"+detailsBills[i]['locationName']+"</td><td>"+detailsBills[i]['costo']+"</td><td>"+detailsBills[i]['subtotal']+"</td></tr>"
		}
		document.getElementById('total_bill1').innerHTML = total;
	}

	function cleanBillTable(){
		var table=document.getElementById("bill_table1");
		var table_len=(table.rows.length);
		if (table_len != 2) {
			table_len = table_len-1;
			for (var i = 1; i < table_len; i++){
				document.getElementById("bill_table1").deleteRow(1);
			}
		}
	}

	function cleanTable(){
		var table=document.getElementById("sale_table");
		var table_len=(table.rows.length);
		if (table_len != 1) {
			for (var i = 1; i < table_len; i++){
				document.getElementById("sale_table").deleteRow(1);
			}
		}		
	}
	function fillTable(json) {
		cleanTable()
		var table=document.getElementById("sale_table");
		for (var i = 0; i < json.length; i++) {
			var table_len=(table.rows.length);
			var row = table.insertRow(table_len).outerHTML="<tr id='row_'"+table_len+"> <td id='factura_"+table_len+"'>"+json[i]['id']+"</td><td id='metodo_pago_"+table_len+"'>"+json[i]['metodo_pago']+"</td><td id='total_"+table_len+"'>"+json[i]['total']+"</td><td><a data-toggle='tooltip' title='Ver Factura'><button id='"+table_len+"' class='w3-button w3-padding w3-dark-grey w3-circle' type='submit' onclick='showBill(this.id)'>Ver Factura</button></a></td></tr>"
		}
		document.getElementById("sale_table").style.display='block';	
	}

	function showBill(row){
		document.getElementById("get_bill").value = document.getElementById("factura_"+row).innerHTML;
	}
</script>
{% endblock %}